<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Popularity Visualization</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
    <%- include('./includes/header') -%>

    <div id="filters">
        <label for="year">Select Year:</label>
        <select id="year"></select>

        <label for="quarter">Select Quarter:</label>
        <select id="quarter"></select>

        <label for="language">Select Language:</label>
        <select id="language"></select>

        <label for="visualizationType">Select Visualization Type:</label>
        <select id="visualizationType">
            <option value="line">Line Chart</option>
            <option value="bar">Bar Chart</option>
            <option value="pie">Pie Chart</option>
            <!-- Add more options for different types of visualizations -->
        </select>
        <!-------------------------------------------------------------------------- -->
        <div id="show-all-years">
            <input type="checkbox" id="showAllYears" onchange="updateChart()">
            <label for="showAllYears">Show All Years</label>
        </div>
        <div id="=by-Quarter">
            <label for="byQuarter">By Quarter:</label>
            <input type="checkbox" id="byQuarter" onchange="updateChart()"/>   
        </div>
        <!-------------------------------------------------------------------------- -->
        <button onclick="updateChart()">Update Chart</button>
    </div>

    <div id="chart-container">
        <div id="line-chart-container" class="chart-container"></div>
        <div id="bar-chart-container" class="chart-container"></div>
        <div id="pie-chart-container" class="chart-container"></div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="assets/js/script2.js"></script>

    <script>
        // Call the function to load data and populate filters when the page loads
        window.onload = loadData;
    </script>
</body>

</html>