<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub Popularity Visualization</title>
    <link rel="stylesheet" type="text/css" href="assets/css/stylehome.css">
</head>

<body id="filters">
    <%- include('./includes/header') -%>
    <div>
        <br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <h2 class="text-center">CHOOSE YOUR FIELD</h2>
        <br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center mb-5">
                    <form action="/homepage" method="post">
                        <img class="product__img" src="\assets\img\web-dev.png" alt="This is a category picture">
                        <br>
                        <button class="btn"><a class="btn btn-outline-light" href="/choice">Web Development</a></button>
                    </form>
                </div>
                <div class="col-md-3 text-center mb-5">
                    <form action="/homepage" method="post">
                        <img class="product__img" src="\assets\img\mobile.png" alt="This is a category picture">
                        <br>
                        <button class="btn"><a class="btn btn-outline-light" href="/choice">Mobile App Development</a></button>
                    </form>
                </div>
                <div class="col-md-3 text-center mb-5">
                    <form action="/homepage" method="post">
                        <img class="product__img" src="\assets\img\system.png" alt="This is a category picture">
                        <br>
                        <button class="btn"><a class="btn btn-outline-light" href="/choice">Systems Programming</a></button>
                    </form>
                </div>
                <div class="col-md-3 text-center mb-5">
                    <form action="/homepage" method="post">
                        <img class="product__img" src="\assets\img\script-auto.png" alt="This is a category picture">
                        <br>
                        <button class="btn"><a class="btn btn-outline-light" href="/choice">Scripting and Automation</a></button>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center mb-5">
                    <form action="/homepage" method="post">
                        <img class="product__img" src="\assets\img\data.png" alt="This is a category picture">
                        <br>
                        <button class="btn"><a class="btn btn-outline-light" href="/choice">Data Science and Analysis</a></button>
                    </form>
                </div>
                <div class="col-md-3 text-center mb-5">
                    <form action="/homepage" method="post">
                        <img class="product__img" src="\assets\img\general.png" alt="This is a category picture">
                        <br>
                        <button class="btn"><a class="btn btn-outline-light" href="/choice">General-purpose Programming</a></button>
                    </form>
                </div>
                <div class="col-md-3 text-center mb-5">
                    <form action="/homepage" method="post">
                        <img class="product__img" src="\assets\img\config.png" alt="This is a category picture">
                        <br>
                        <button class="btn"><a class="btn btn-outline-light" href="/choice">Markup and Configuration</a></button>
                    </form>
                </div>
                <div class="col-md-3 text-center mb-5">
                    <form action="/homepage" method="post">
                        <img class="product__img" src="\assets\img\Miscellaneous.png" alt="This is a category picture">
                        <br>
                        <button class="btn"><a class="btn btn-outline-light" href="/choice">Miscellaneous and Specialized</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>    
    <br><br><br><br><br><br><br><br>
    <%- include('./includes/footer') -%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>

</html>