<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>GitHub Popularity Visualization</title>
    </head>
    <body>
        <%- include('./includes/header') -%>
        <div class="first__txt text-center">
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br>

            <button class="btn"><a class="btn btn-outline-dark" href="/index1">index 01</a></button>
            <button class="btn"><a class="btn btn-outline-dark" href="/index2">index 02</a></button>
            <br><br><br><br><br><br><br><br>
        </div>
        <br><br><br><br>
        <div>
            <h2 class="text-center">CHOOSE YOUR FIELD</h2>
            <br><br><br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center mb-5">
                        <form action="/homepage" method="post">
                            <img class="product__img" src="\assets\img\web-dev.png" alt="This is a category picture">
                            <br>
                            <button class="btn"><a class="btn btn-outline-dark" href="/choice">Web Developmen</a></button>
                        </form>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <form action="/homepage" method="post">
                            <img class="product__img" src="\assets\img\mobile.png" alt="This is a category picture">
                            <br>
                            <button class="btn"><a class="btn btn-outline-dark" href="/choice">Mobile App Development</a></button>
                        </form>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <form action="/homepage" method="post">
                            <img class="product__img" src="\assets\img\system.png" alt="This is a category picture">
                            <br>
                            <button class="btn"><a class="btn btn-outline-dark" href="/choice">Systems Programming</a></button>
                        </form>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center mb-5">
                        <form action="/homepage" method="post">
                            <img class="product__img" src="\assets\img\script-auto.png" alt="This is a category picture">
                            <br>
                            <button class="btn"><a class="btn btn-outline-dark" href="/choice">Scripting and Automation</a></button>
                        </form>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <form action="/homepage" method="post">
                            <img class="product__img" src="\assets\img\data.png" alt="This is a category picture">
                            <br>
                            <button class="btn"><a class="btn btn-outline-dark" href="/choice">Data Science and Analysis</a></button>
                        </form>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <form action="/homepage" method="post">
                            <img class="product__img" src="\assets\img\general.png" alt="This is a category picture">
                            <br>
                            <button class="btn"><a class="btn btn-outline-dark" href="/choice">General-purpose Programming</a></button>
                        </form>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center mb-5">
                        <form action="/homepage" method="post">
                            <img class="product__img" src="\assets\img\config.png" alt="This is a category picture">
                            <br>
                            <button class="btn"><a class="btn btn-outline-dark" href="/choice">Markup and Configuration</a></button>
                        </form>
                    </div>
                    <div class="col-md-4 text-center mb-5">
                        <form action="/homepage" method="post">
                            <img class="product__img" src="\assets\img\Miscellaneous.png" alt="This is a category picture">
                            <br>
                            <button class="btn"><a class="btn btn-outline-dark" href="/choice">Miscellaneous and Specialized</a></button>
                        </form>
                    </div>
                </div>
            </div>
        <br><br><br><br><br><br>
        <%- include('./includes/footer') -%>
        <br><br>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    </body>
</html>
