body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    background-color: #2d2d2d;
}

#logo-container {
    margin-right: 20px;
    padding-left: 10px;
}

#logo-container img {
    width: 100px;
}

#title-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    letter-spacing: 2px;
    word-wrap: break-word;
    animation: codeAnimation 2s infinite alternate-reverse;
    position: relative;
    margin: auto;
}

@keyframes codeAnimation {
    from {
        color: #fff;
        border-right: 2px solid #fff;
    }

    to {
        color: #6f42c1;
        border-right: 2px solid #6f42c1;
    }
}

#title-container:hover::before {
    content: "Made by Abdelatif Mekri & Halima Nfidsa";
    position: absolute;
    top: 80%;
    left: 45%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.214);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1;
}


#filters,
#chart-container {
    width: 80%;
    margin: 60px auto 20px;
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    color: #8b949e;
}

/*
select,
button {
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #4d4d4d;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #6f42c1;
    cursor: pointer;
}
button:hover {
    background-color: #9147ff;
}
*/
#chart-container {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#cdp {
    /*border: 1px solid #ffffff; /* Add a border for better visibility */
    padding-left: 100px; /* Add some padding for spacing inside the div */
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 20px;

}

#category-description {
    font-family: Arial, sans-serif; /* Specify the font family */
    font-size: 16px; /* Set the font size */
    color: #6e6e6e; /* Set the text color */
    line-height: 1.5; /* Set the line height for better readability */
}
hr {

    height: 10px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, black));
}