body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top: 20rem;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: #2d2d2d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    padding-top: 10rem;
    color: #ffffff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    border: none;
}

.col-md-3 {
    text-align: center;
    margin-bottom: 20px;
}

.product__img {
    max-width: 100%;
    border-radius: 8px;
}

.btn {
    background-color: #51545518;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.1px;
}

.btn:hover {
    background-color: #5867733b;
}
b{ 
    color: #a7a7a7; 
}
p{ 
    color: #737070; 
}
.cat {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
hr {

    height: 10px;
    border: none;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, rgb(134, 64, 188)));
}